<section class="content padding-top-10 padding-bottom-10">
  <div class="text-center">
    <h1>Commit 2025</h1>
    <p class="subheader">{{ItComes}}</p>
  </div>
  <div class="limited-large grid items-center">
    <div>
    {{TitleDesc | safe}}
    </div>
    <div class="text-center">
      <picture>
        <source srcset="/img/balloons.avif" type="image/avif" />
        <img src="/img/balloons.jpg" class="balloons" />
      </picture>
    </div>
  </div>
</section>